@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to eShop</h1>
    <div class="text-center">
        <p><a asp-action="Index" asp-controller="Product">View All Products</a></p>
        <p><a asp-action="Index" asp-controller="Category">View All Categories</a></p>
        <p><a asp-action="Index" asp-controller="Shipper">View All Shippers</a></p>
        <p><a asp-action="Index" asp-controller="Promotion">View All Promotions</a></p>
        <p><a asp-action="Index" asp-controller="ShoppingCartItem">View Shopping Cart</a></p>
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
