@model ShoppingCartItemRequestModel

<form asp-action="Create" asp-controller="ShoppingCartItem">
    <div class="my-2">
        <label>Product </label>
        <select name="ProductId" class="form-control">
            <option>Select a Product</option>
            @foreach (var product in ViewBag.Products)
            {
                <option value="@product.Value">@product.Text</option>
            }
        </select>
    </div>
    <div class="my-2">
        <label>Quantity </label>
        <input type="number" class="form-control" name="Qty" />
    </div>

    <button class="btn btn-primary">Save</button>
</form>