@model ShoppingCartItemRequestModel
<h1>Are you sure you want to delete the product? </h1>
<form asp-action="delete" asp-controller="ShoppingCartItem">
    <div>
        <label>Product</label>
        <input type="text" disabled value="@Model.ProductName" name="ProductName" class="form-control" />
        <input type="hidden" value="@Model.Id" name="Id" />
    </div>
    <button class="btn btn-danger">Delete</button>

</form>