@model ProductRequestModel

<form asp-action="Create" asp-controller="Product">

    <div class="my-2">
        <label>Name</label>
        <input type="text" name="Name" class="form-control" />
    </div>
    <div class="my-2">
        <label>Description</label>
        <input type="text" name="Description" class="form-control" />
    </div>
    <div class="my-2">
        <label>Category </label>
        <select name="CategoryId" class="form-control">
            <option>Select a Category</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Value">@category.Text</option>
            }
        </select>
    </div>
    <div class="my-2">
        <label>Price </label>
        <input type="number" class="form-control" name="Price" />
    </div>
    <div class="my-2">
        <label>Product Image </label>
        <input type="text" class="form-control" name="ProductImage" />
    </div>

    <button class="btn btn-primary">Save</button>
</form>